click==8.0.3
flake8==4.0.1
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
isort==5.9.3
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
mccabe==0.6.1
prettytable==2.2.1
pycodestyle==2.8.0
pyflakes==2.4.0
SQLAlchemy==1.4.25
wcwidth==0.2.5
Werkzeug==2.0.2
