<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Ириска Алексеевна</title>
</head>
<body>
<h1>Ириска Алексеевна</h1>
<img src="/templates/pic.jpg" width=50 alt="Моя картинка"/>
<p><a href="https://ru.wikipedia.org/wiki/Девон-рекс">Мои чистокровные кореша</a></p>
<br>
<h2><em>Я кошка гулящего хозяина</em></h2>
<h3>Когда хозяин отсутствует дома, я испытываю <strong>КРИНЖ</strong>.
    <hr>
<ins>Я всегда ору по поводу и без, но в отсутствие хозяина я сплю.</ins>
    <hr>
<del>Потом, когда он приходит, делаю вид, что беспокоюсь о его отсутствии.</del>
<br>
    <mark>А потом клянчу вкусняхи</mark></h3>
<h4><del>А ещё меня забаляет, что он не в состоянии загрузить мою фотку.</del></h4>
</body>
</html>